@model Ksiegowosc.Intranet.ViewModels.KontrahentViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KsiegowoscLayout.cshtml";
}

<div class="row">
    <div class="col-7 pl-4">
        <div>
            @await Html.PartialAsync("_KontrahentA")
        </div>

        <div class="card">
            @await Html.PartialAsync("_KontrahentB", Model)
        </div>
    </div>
    <div class="col-5 pr-4">
        @await Html.PartialAsync("_KontrahentC")
    </div>
</div>
