

<div class="card" id="create_index" style="min-height:200px;">
    <a href="#" class="text-decoration-none">
        <div class="pl-2 card bg-primary">
            <h4 class="text-light">
                <i class="fa fa-expand fa-1 text-light float-right mr-1 mt-2"></i>
            </h4>
        </div>
    </a>
    <div id="kontrachentC" class="card-body">
    </div>
</div>
