@model Ksiegowosc.Intranet.ViewModels.KontrachentViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KontrachentLayout.cshtml";
}

<div class="row">
    <div class="col-7 pl-4">
        <div>
            @await Html.PartialAsync("_KontrachentA")
        </div>

        <div class="card">
            @await Html.PartialAsync("_KontrachentB", Model.Kontrachenci)
        </div>
    </div>
    <div class="col-5 pr-4">
        @await Html.PartialAsync("_KontrachentC",Model.Kontrachent)
    </div>
</div>
