@model Ksiegowosc.Intranet.ViewModels.DokumentViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_KsiegowoscLayout.cshtml";
}

<div class="row">
    <div class="col-7 pl-4">
        <div>
            @await Html.PartialAsync("_DokumentA")
        </div>

        <div class="card">
            @await Html.PartialAsync("_DokumentB", Model.Dokumenty)
        </div>
    </div>
    <div class="col-5 pr-4">
        @await Html.PartialAsync("_DokumentC")
    </div>
</div>
